{% render 'partials/head.liquid' %}

<section class="container">
  <div class="profile-card">
    <div>
      <img class="foto1" src="assets/unnamed (2).jpg" alt="Profielfoto van {{ person.name }}">
    </div>
    
    <h1>{{ person.custom.name }}</h1>
    
    <nav>
      <button>{{ person.custom.who }}</button>
      <button>{{ person.custom.experience }}</button>
      <button>{{ person.custom.hobby }}</button>
    </nav>
  </div>
</section>

<section class="container-2">
  <div class="profile-card">
    <div>
      <img class="foto1" src="assets/unnamed (2).jpg" alt="Profielfoto van {{ person.name }}">
    </div>
    
    <h2>{{ person.custom.who }}</h2>
    
    <div>
      <p>{{ person.custom.bio1 }}</p>
    </div>
  </div>
</section>

<section class="container-3">
  <div class="profile-card">
    <div>
      <img class="foto1" src="assets/unnamed (2).jpg" alt="Profielfoto van {{ person.name }}">
    </div>
    
    <h2>{{ person.custom.experience }}</h2>
    
    <div>
      <p>{{ person.custom.bio2 }}</p>
    </div>
  </div>
</section>

<section class="container-4">
  <div class="profile-card">
    <div>
      <img class="foto1" src="assets/unnamed (2).jpg" alt="Profielfoto van {{ person.name }}">
    </div>
    
    <h2>{{ person.custom.hobby }}</h2>
    
    <div>
      <p>{{ person.custom.bio3 }}</p>
    </div>
  </div>
</section>


  <script src="scripts/script.js"></script>

{% render 'partials/foot.liquid' %}
