{% render 'partials/head.liquid' %}

<section class="container-1">
  <div class="profile-card">
    <img class="foto1" src="/profielfoto.jpg" alt="profielfoto">

    <h1>{{ person.name }}</h1>

    <div class="custom-container">
      <a href="#">{{ custom.who }}</a>
      <a href="#">{{ custom.experience }}</a>
      <a href="#">{{ custom.hobby }}</a>
    </div>
  </div>
</section>

<section class="container-2">
  <div class="profile-card">
    <img class="foto1" src="/profielfoto.jpg" alt="profielfoto">

    <h2>{{ custom.who }}</h2>

    <p>{{ custom.bio1 }}</p>
  </div>
</section>

<section class="container-3">
  <div class="profile-card">
    <img class="foto1" src="/profielfoto.jpg" alt="profielfoto">

    <h2>{{ custom.experience }}</h2>

    <p>{{ custom.bio2 }}</p>
  </div>
</section>

<section class="container-4">
  <div class="profile-card">
    <img class="foto1" src="/profielfoto.jpg" alt="profielfoto">

    <h2>{{ custom.hobby }}</h2>

    <p>{{ custom.bio3 }}</p>
  </div>
</section>

<script src="script.js"></script>

{% render 'partials/foot.liquid' %}
