{% render 'partials/head.liquid' %}

<section class="container">
  <div class="profile-card">
    <div>
      <img class="foto1" src="assets/unnamed (2).jpg" alt="Profielfoto van {{ person.name }}">
    </div>
    
    <h1>{{ person.name }}</h1>
    
    <nav>
      <button>Wie ben ik?</button>
      <button>Mijn ervaring</button>
      <button>Hobby's</button>
    </nav>
  </div>
</section>

<section class="container-2">
  <div class="profile-card">
    <div>
      <img class="foto1" src="assets/unnamed (2).jpg" alt="Profielfoto van {{ person.name }}">
    </div>
    
    <h2>Wie ben ik?</h2>
    
    <div>
      <p> Mijn naam is Mouaad, ik ben 20 jaar en kom uit Amsterdam. Momenteel studeer ik Front-end Design & Development.</p>
    </div>
  </div>
</section>

<section class="container-3">
  <div class="profile-card">
    <div>
      <img class="foto1" src="assets/unnamed (2).jpg" alt="Profielfoto van {{ person.name }}">
    </div>
    
    <h2>Mijn ervaring</h2>
    
    <div>
      <p>Hiervoor heb ik de opleiding HBO-ICT Software Engineering gevolgd. Helaas heb ik het tweede semester niet behaald. Het tempo lag voor mij te hoog en ik moest in korte tijd veel nieuwe kennis opdoen. Tijdens die opleiding heb ik wel interesse ontwikkeld in front-end, daarom heb ik besloten om over te stappen naar de opleiding Front-end Design & Development.
      </p>
    </div>
  </div>
</section>

<section class="container-4">
  <div class="profile-card">
    <div>
      <img class="foto1" src="assets/unnamed (2).jpg" alt="Profielfoto van {{ person.name }}">
    </div>
    
    <h2>Hobby's</h2>
    
    <div>
      <p>In mijn vrije tijd game ik graag en doe ik aan verschillende sporten.</p>
    </div>
  </div>
</section>


  <script src="scripts/script.js"></script>

{% render 'partials/foot.liquid' %}
